@charset "utf-8";
/* CSS Document */

html, body {
    width: 100%; 
    height: 100%;
}
body {
    display: flex; 
}
header, footer {
    flex: 0 0 auto;
}
main {
    flex: 1 0 auto;
}
.simfony {
    width: 7.361rem; 
    height: 3.125rem;
}
.katyargeor {
	width: 9.375rem;
	height: 9.375rem;
	animation: 6s linear infinite rotate;
}
@keyframes rotate {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(360deg);
	}
}
