{#********************************************************************************
  * @Project    Katyargeor Framework for business
  * @Version    1.0.0
  *
  * @Copyright  (C) 2025 Kataev Yaroslav Georgievich 
  * @E-mail     yaroslaw74@gmail.com
  * @License    GNU General Public License version 3 or later; see LICENSE.md
  ********************************************************************************#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/install.css') }}">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<header class="container-fluid d-flex flex-column p-0">
		<div class="py-1 container-fluid d-flex justify-content-center">
			{% include 'katyargeor.svg.twig' %}
		</div>
		<div class="container-fluid d-flex justify-content-center text-primary-emphasis" lang="en"><h1><strong>Katyargeor Framework for business</strong></h1></div>
	</header>
	<main class="container-fluid d-flex flex-column">
		<div class="border rounded-3 shadow bg-secondary-subtle text-primary-emphasis"></div>
	</main>
	<footer class="container-fluid d-flex flex-row justify-content-between bg-body-tertiary p-0">
		<div class="align-self-center bg-light-subtle rounded-3">
			{% include 'simfony.swg.twig' %}
		</div>
		<div class="align-self-center text-danger"><h6>danger</h6></div>
		<div class="text-nowrap align-self-center text-dark-emphasis pe-3" lang="en"><h6><strong>&#169; 2025 Kataev Yaroslav</strong></h6></div>
	</footer>
	<div class="dropdown position-fixed top-0 end-0 mb-3 me-3 bd-mode-toggle">
		{% include 'button.html.twig' %}
	</div>
{% endblock %}